.navbar-collapse .navbar-nav .nav-item .nav-link:hover{
    color: rgb(247, 83, 83);
}
.shop{
    background-color: rgb(247, 83, 83);
    color: white;
    font-weight: bold;
}
.shop:hover{
    border-color: rgb(247, 83, 83);
    color: rgb(247, 83, 83);
    background-color: rgba(240, 255, 255, 0.022);
}
.shop-now{
    background-color: rgb(247, 83, 83);
    color: white;
    font-weight: bold;
}
.shop-now:hover{
    border-color: rgb(247, 83, 83);
    color: rgb(247, 83, 83);
    background-color: rgba(240, 255, 255, 0.022);
}
.Subscribe{
    background-color: rgb(247, 83, 83);
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
}
.Subscribe:hover{
    border-color: rgb(247, 83, 83);
    color: rgb(247, 83, 83);
    background-color: rgba(77, 63, 68, 0.441);
}

.text-center h2::after{
    content: "";
    display: block;
    width: 70px;
    height: 5px;
    background-color: rgb(247, 83, 83);
    margin: 10px auto 10px;
}
.Sale{
    color: rgb(247, 83, 83);
}
.man-body{
    background-color: #d4ced0;
    
}
.card{
    border: 2px solid white;
}
.card:hover{
    border: 2px solid rgb(247, 83, 83);
    transition: 1s;
    box-shadow: brown;
}
.View-btn{
    background-color: rgb(247, 83, 83);
    color: white;
}
.View-btn:hover{
    border-color: rgb(247, 83, 83);
    color: rgb(247, 83, 83);
    background-color: rgba(240, 255, 255, 0.022);
}
.submit{
    background-color: rgb(247, 83, 83);
    color: white;
}

.submit:hover{
    border-color: rgb(247, 83, 83);
    color: rgb(247, 83, 83);
    background-color: rgba(240, 255, 255, 0.022);
}
.input{
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
}